
name: build_mac
on:
  workflow_run:
    workflows: ["build_windows"]
    types:
      - completed  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write 
  issues: read
  packages: none

jobs:
  build_macos_intel:
    if: github.repository_owner == 'myridia'
    runs-on: macos-15
    steps:
       - name: install nappgui 
         run: |
          git clone --depth 1 https://github.com/frang75/nappgui_src.git
          cd nappgui_src
          cmake --version 
          cmake -G Xcode -S . -B build -DNAPPGUI_DEMO=NO
          cmake --build build --config Release -j 4
          sudo cmake --install build --config Release --prefix /usr/local/nappgui
          
       - name: Checkout repository
         uses: actions/checkout@v4

       - name: build crypttext
         run: |
           cmake -G Xcode -S . -B build -DCMAKE_INSTALL_PREFIX=/usr/local/nappgui -DCMAKE_POLICY_VERSION_MINIMUM=3.5 
           cmake --build build --config Release
           ls  build/Release/bin/
           ls build/Release/bin/crypttext.app
           cd build/Release/bin/
           hdiutil create -volname "crypttext" -srcfolder "crypttext.app" -ov -format UDZO "crypttext.dmg"
           #tar -czf crypttext.app.tar.gz build/Release/bin/ ./crypttext.app

       - name: Upload Macos Intel Binary to release
         uses: svenstaro/upload-release-action@v2
         with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: 'build/Release/bin/crypttext.dmg'
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true   
